html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#logo {
    height: 50px;
    margin-right: 10px;
}

#themeSwitcher {
    height: 30px;
}

#blocklyDiv {
    height: 95%
}

.overflow-scroll {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.overflow-scroll::-webkit-scrollbar {
    display: none;
}


.tab-pane {
    margin-top: 10px;
}

.led {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0 15px;
    border-radius: 50%;
    background-color: var(--bs-body-color);
}

#tooltip {
    margin-top: -10px;
    margin-right: -10px;
}

.wsimSwitch {
    rotate: -90deg;
}

.format {
    width: 1%;
}

th, td {
    padding: 0 5px;
}

.mDevice {
    height: 30vh;
    overflow-y: scroll;
}

#mDeviceTable th {
    position: sticky;
    top: 0;
    background-color: var(--bs-body-bg);
}

.duck {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.duck:hover {
    opacity: 1;
}

.duckImg {
    width: 15px;
}

pre {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-align: inherit;
}

.inputCheckmark {
    opacity: 0;
    color: green;
}

.inputCheckmark.visible {
    opacity: 1;
}

.objectiveTable td {
    border: 1px solid var(--bs-body-color);
}

.compilePopover {
    --bs-popover-border-color: rgb(184, 14, 9);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
}

#serial {
    overflow-wrap: anywhere;
}

/* Seven-segment CSS - modified from https://codepen.io/0x04/pen/AEjQwB */
.display-container {
	position: relative;
}

.display-container div.segment-x,
.display-container div.segment-y,
.display-container div.segment-h {
	position: absolute;
}

.display-container span.segment-border {
	display: block;
	position: absolute;
}

.display-container.display-size-12 {
	width: 122px;
	height: 170px;
    margin-top: 20px;
    margin-left: 20px;
}

.display-container.display-size-12 .segment-x {
	width: 72px;
	left: 13px;
	border-bottom: 12px solid var(--bs-body-color);
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}

.display-container.display-size-12 .segment-x .segment-border {
	top: 12px;
	left: -12px;
	right: -12px;
	border-top: 12px solid var(--bs-body-color);
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}

.display-container.display-size-12 .segment-y {
	height: 72px;
	width: 0;
	border-right: 12px solid var(--bs-body-color);
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

.display-container.display-size-12 .segment-y .segment-border {
	position: relative;
	left: 12px;
	height: 72px;
	margin-top: -12px;
	border-left: 12px solid var(--bs-body-color);
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

.display-container.display-size-12 .segment-a {
	top: 0;
}

.display-container.display-size-12 .segment-b {
	top: 13px;
	left: 74px;
}

.display-container.display-size-12 .segment-c {
	top: 87px;
	left: 74px;
}

.display-container.display-size-12 .segment-d {
	top: 148px;
}

.display-container.display-size-12 .segment-e {
	top: 87px;
	left: 0px;
}

.display-container.display-size-12 .segment-f {
	top: 13px;
	left: 0px;
}

.display-container.display-size-12 .segment-g {
	top: 74px;
}

.display-container.display-size-12 .segment-h {
    top: 153px;
    left: 105px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: var(--bs-body-color);
}

.segment-a, .segment-b,
.segment-c, .segment-d,
.segment-e, .segment-f,
.segment-g, .segment-h {
  opacity: 0.1;
}

.display-no-0 .segment-a {
  opacity: 1;
}

.display-no-1 .segment-b {
	opacity: 1;
}

.display-no-2 .segment-c {
	opacity: 1;
}

.display-no-3 .segment-d {
	opacity: 1;
}

.display-no-4 .segment-e {
	opacity: 1;
}

.display-no-5 .segment-f {
	opacity: 1;
}

.display-no-6 .segment-g {
	opacity: 1;
}

.display-no-7 .segment-h {
	opacity: 1;
}

/* Autogenerated Blazor CSS */
h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: absolute;
    display: block;
    width: 8rem;
    height: 8rem;
    inset: 20vh 0 auto 0;
    margin: 0 auto 0 auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

code {
    color: #c02d76;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}